:root {
  --base: #ffc600;
  --spacing: 10px;
  --blur: 10px;
}

body {
  text-align: center;
}

img {
  padding: var(--spacing);
  background: var(--base);
  -webkit-filter: blur(var(--blur));
  /* 👴 */
  filter: blur(var(--blur));
}

.hl {
  color: var(--base);
}

/*
        misc styles, nothing to do with CSS variables
      */

body {
  background: #193549;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 100;
  font-size: 40px;
}

.controls {
  margin-bottom: 50px;
}

input {
  width:100px;
}

input[type=range] {
    -webkit-appearance: none;
    height: 2px;
    background: white;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height:10px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

h2{
  font-size: 80px;
}
